<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Furniture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Furniture.Properties.Settings>
      <setting name="DBPath" serializeAs="String">
        <value>C:\Program Files\SolidWorks-Russia\MrDoors\db\</value>
      </setting>
      <setting name="DrwPath" serializeAs="String">
        <value>C:\Program Files\SolidWorks-Russia\MrDoors\drw\</value>
      </setting>
      <setting name="AutoSaveComponents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoAddOrderNum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSaveDrawings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoShowSetParameters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoCutOff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModelPath" serializeAs="String">
        <value>C:\Program Files\SolidWorks-Russia\MrDoors\lib\</value>
      </setting>
      <setting name="Designer" serializeAs="String">
        <value />
      </setting>
      <setting name="AppRegCode" serializeAs="String">
        <value />
      </setting>
      <setting name="Macro" serializeAs="String">
        <value />
      </setting>
      <setting name="McrsAuto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRecalculateOnAdd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value>devout@mrdoors.ru</value>
      </setting>
      <setting name="MailTo" serializeAs="String">
        <value>kraev@mrdoors.ru</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
        <value>delta.mrdoors.ru</value>
      </setting>
      <setting name="MailHostPass" serializeAs="String">
        <value>Coca12</value>
      </setting>
    </Furniture.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
